<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.js.secondhandauction.core.user.repository.UserRepository">
    <insert id="create" parameterType="com.js.secondhandauction.core.user.domain.User" useGeneratedKeys="true"
            keyProperty="id" keyColumn="id">
    <![CDATA[
        insert into Users
            (id, username, nickname, password, total_balance)
        values (#{id}, #{username}, #{nickname}, #{password}, #{totalBalance})
        ]]>
    </insert>

    <select id="findByUsername">
    <![CDATA[
        select id,
               username,
               password,
               nickname,
               total_balance,
               reg_date,
               upt_date
        from Users
        where username = #{username}
        ]]>
    </select>

    <select id="findById">
    <![CDATA[
        select id,
               username,
               password,
               nickname,
               total_balance,
               reg_date,
               upt_date
        from Users
        where id = #{id}
        ]]>
    </select>

    <update id="updateTotalBalance">
    <![CDATA[
        update
            Users
        set total_balance = total_balance + #{totalBalance}
        where username = #{username}
        ]]>
    </update>
</mapper>